@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  font-family: "Bebas Neue", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

:root {
  --primary-color: white;
  --secondary-color: #393939;
  --third-color: #e4b1f0;
}
